@import '../../../styles/index.scss';

.pop-up__modify {
  display: flex;
  position: relative;
  padding-left: 440px;

  .pop-up__section.top {
    margin-bottom: 32px;
  }

  .section__title.editable {
    margin-right: 40px;
    border: none;
    background: $grey-light;
    padding: 5px;
    margin-bottom: 0;

    &:disabled {
      background: none;
    }
  }

  .main-image {
    position: relative;
    margin-right: 40px;
    position: absolute;
    top: -72px;
    left: -56px;
    background: url('../../../assets/images/photo-mask-single.png') center
      no-repeat;

    .photo__input {
      opacity: 0;
      appearance: none;
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 222;
      border-radius: 102px;

      &:hover {
        cursor: pointer;
      }
    }

    .img {
      opacity: 0.5;
    }
  }

  .pop-up-sections {
    width: 100%;

    .pop-up__section {
      .btn_edit {
        @include text-18;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: none;
        background: none;
        color: $primary-yellow;
        //width: 10%;
        padding: 0;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .section__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .section__textarea {
        //@include text-18;

        width: 100%;
        margin-right: 40px;
        border: none;
        resize: none;
        display: flex;
        background: $grey-light;
        padding: 5px;

        &:disabled {
          background: none;
        }
      }
      &.information {
        .btn_edit {
          width: auto;
        }
      }

      &.directions {
        margin-right: 16px;
      }

      &.ingredients {
        margin-left: 16px;
      }
    }
  }

  .btn {
    @include button-dark;
    width: 130px;
    height: 62px;
  }

  .btn_light {
    @include button-light;
    width: 130px;
    height: 62px;
    margin-right: 40px;
  }

  .btns {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
