@import '../../index.scss';

.comment-input-container {
  margin-bottom: 40px;
  height: 40px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .input {
    padding: 0 16px;
    max-width: 800px;

    flex-basis: 100%;

    background: $white;
    border: 1px solid $white-dirty;
    border-radius: 10px;
  }

  .btn-send {
    @include button;

    width: 88px;

    background: url('../../../public/images/Union.png') center no-repeat;
    background-color: $primary-yellow;
  }
}

.comments-container {
  .comment-container {
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    .photo {
      width: 68px;
      height: 68px;
      margin-right: 16px;

      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 55px;
    }

    .text-container {
      max-width: 716px;

      .top {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;

        .username {
          font-size: 18px;
          color: $grey-dark;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}