@import '../../index.scss';

.filter-panel {
  padding: 32px 24px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background: $white;
  
}

.container.top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .btn-clear-all {
    padding: 0;
    width: 50px;
    height: 19px;
    color: $primary-yellow;
    font-size: 14px;
    border: none;
    background: none;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;

  .section-title {
    margin-bottom: 16px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .select {
    width: 100%;
    padding: 11px 16px;
    font-size: 14px;
    border: 1px solid #DADADA;
    border-radius: 4px;
  }

  .checkbox {
    height: 19px;
  }

  .label {
    flex-basis: 100%;
    width: 100%;
  }
}

.range-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;

  .values-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
  }

   .range {
    margin-bottom: 5px;
    -webkit-appearance: none;

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      background: $primary-yellow;
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid $primary-yellow;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      margin-top: -6px;
      cursor: pointer;
      background: $primary-yellow;
    }
  }
}

 


