@import '../../index.scss';

.footer {
  background-color: $main;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  min-height: 97px;

  font-size: 16px;
  background: $main;
}

.logo-black {
  width: 112px;
  height: 33px;

  background: url('../../../public/images/logo-black.png') center no-repeat;
}

.footer-nav {
  display: block;
}

.footer-nav-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  
  width: 100%;
  
  list-style: none;
}

.footer-nav-list-item {
  margin-right: 72px;

  color: $white;

  a {
    list-style: none;
    color: $white;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    a {
      color: $primary-yellow;
    }
  }
}

.email {

  a {
    color: $primary-yellow;
  }
}

.study-container {
  display: flex;
  flex-wrap: nowrap;

  .study {
    color: #DADADA;
    margin-right: 18px;
  }

  .itechart {
    a {
     color: $white; 
    }
  }
}