@import '../../styles/index.scss';

.search-page {
  padding-top: 104px;
  background-color: $grey-light;
  
  .wrapper {
    display: flex;
  flex-wrap: nowrap;
  }

  .search-page__aside {
    height: 100vh;
    margin-right: 40px;
  }

  .aside__container {
    width: 272px;
    height: 372px;
  }

  .search-page__content {
    width: 100%;

    .search-page__nav {
      margin-bottom: 34px;

      .nav__list {
        @include page-nav-list;
      }
    }

    .search-page__cards {
      display: flex;

      &.recipes {
        flex-wrap: nowrap;
        flex-direction: column;
      }

      &.cookbooks {
        flex-wrap: wrap;
      }
    }
  }
}







