@import '../../styles/index.scss';

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  width: 100%;
  font-size: 16px;

  .header__nav {
    .nav__list {
      @include nav-list;

      justify-content: space-between;

      .list__item {
        &:first-child {
          margin-right: 72px;
        }
      }
    }
  }
}

.header__search {
  position: relative;

  display: flex;
  align-items: center;

  width: 284px;
  height: 40px;

  .search__icon {
    position: absolute;

    left: 16px;
    width: 23px;
    height: 23px;

    background: url('../../assets/images/search-icon-small.png') center
      no-repeat;
  }

  .search__input {
    width: 100%;
    height: 100%;
    padding-left: 52px;

    background-color: $grey-light;
    border-radius: 10px;
    border: none;
  }
}

.header__btn {
  @include button-light;

  width: 225px;
  height: 54px;
}

.header__login-info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  .login__icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background: url('../../assets/images/Person.png') center no-repeat;
  }

  &:hover {
    a {
      color: $primary-yellow;
    }
  }
}

.header__logo_small {
  width: 112px;
  height: 33px;
  background: url('../../assets/images/logo-small.png') center no-repeat;
}
