@import '../../styles/index.scss';

.search-page {
  padding-top: 104px;
  display: flex;
  flex-wrap: nowrap;

  .search-page__aside {
    height: 100vh;
    margin-right: 40px;
  }

  .aside__container {
    width: 272px;
    height: 372px;
  }

  .search-page__content {
    width: 100%;

    .search-page__nav {
      margin-bottom: 34px;

      .nav__list {
        @include nav-list;
        
        .list__item {
          @include title-small;
        }

        .list__item_selected {
          @include title-small;
          margin-right: 32px;
          border-bottom:  5px solid $primary-yellow;

          a {
            @include title-small;
          }
        }
      }
    }

    .search-page__cards {
      display: flex;

      &.recipes {
        flex-wrap: nowrap;
        flex-direction: column;
      }

      &.cookbooks {
        flex-wrap: wrap;
      }
    }
  }
}
