@import '../../styles/index.scss';

.profile-recipes-page {
  @include profile-page;

  .profile-page__nav {
    display: flex;
    justify-content: space-between;

    .nav__btn {
      @include button-dark;

      height: 62px;
      width: 251px;
    }
  }
}
