@import '../../index.scss';


.intro-container {
  width: 100%;
  height: 814px;
  margin-bottom: 104px;

  &::before {
    content: '';
    max-width: 1600px;
    height: 814px;
    background: url('../../../public/images/main-background.jpg') center no-repeat;
    position: absolute; 
    z-index: -1;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 32px;
    padding-right: 32px;
  }
}

.intro {
  width: 100%;
  height: 100%;
  padding-top: 243px;
}

.intro-title {
  margin: 0;
  max-width: 808px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
  color: $white;
  margin-bottom: 56px;
}

.intro-search {
  position: relative;
  max-width: 1016px;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 36px;

  .intro-search-icon {
    position: absolute;
    left: 24px;
    width: 23px;
    height: 23px;
    background: url('../../../public/images/search-icon-big.png') center no-repeat;
  }

  .intro-search-input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: $white;
    border-radius: 10px;
    font-size: 18px;
    color: $grey-dark;
    padding: 0 64px;
  }

  .intro-search-btn {
    position: absolute;
    right: 8px;
    width: 146px;
    height: 54px;

    text-transform: uppercase;
    
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}

.intro-nav-list {
  display: flex;
  padding: 0;
    
  .intro-nav-list-item {
    font-size: 18px;
    color: $white;
    list-style: none; 
    
    &:not(:last-child) {
      margin-right: 56px;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &:active {
      color: blue;
    }
  }
}

.section {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &.rated {
    margin-bottom: 128px;
  }

  &.popular {
    margin-bottom: 104px;
  }

  &.trending {
    margin-bottom: 24px;
    min-height: 986px;
    border-radius: 50px 10px;
    background-color: $primary-yellow;

    .section-btn {
      background: $white;
      
      border-radius: 10px;
      border: none;

      a {
        color: $primary-yellow;
        font-size: 20px;
      }
    }
  }
}

.section-pre-title {
  font-size: 16px;
  color: $primary-yellow;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 48px;
}

.section-btn {
  width: 170px;
  height: 60px;
}

.section-cards {
  margin-bottom: 56px;

  display: flex;
  flex-wrap: wrap;

  &.rated {
    justify-content: space-between;
  }
}