@import '../../index.scss';

.recipe-card {
  margin-right: 24px;
  margin-bottom: 24px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;

  z-index: 3;

  &.rated {
    max-width: 288px;
    min-height: 414px;
  }

  &.trending {
    max-width: 390px;
    min-height: 460px;
    background: $white;

    .recipe-card-image {
      width: 344px;
      height: 344px;
    }

    .container.middle {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.24);

   .container {

      &.bottom {
        .icon {
          path {
            fill: $primary-yellow;
          }
        }
      }

      &.middle {
        .recipe-card-title {
          color: $primary-yellow;
        }
      }
    }
  }

  
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  &.top {
    margin-bottom: 16px;
  }

  &.middle {
    margin-bottom: 32px;
  }

  &.bottom {
    justify-content: flex-start;
  }
}

.icon {
  margin-right: 8px;

  width: 15px;
  height: 15px;

  &.more {
    width: 20px;
    height: 4px;

    &:hover {

      >circle {
        fill: $primary-yellow;
      }
    }
  }
}

.info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  line-height: 19px;

  &.likes {
    margin-right: 24px;
  }
}

.recipe-card-image {
  margin-bottom: 16px;
}
    
.recipe-card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

