@import './colors.scss';

* {
  box-sizing: border-box;

  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: black;
}

body {
  margin: 0 auto;
}

#root {
  position: relative;

  margin: 0 auto;

  width: 100%;
  max-width: 1680px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.btn {
  border: 2px solid $primary-yellow;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;

  &.light {
    background: none;
    
    a {
      color: $primary-yellow;
      font-size: 20px; 
    }
  }

  &.dark {
    background: $primary-yellow;

    a {
      color: $main; 
      font-size: 20px;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}