@import './colors.scss';
@import './common.scss';


* {
  box-sizing: border-box;

  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: black;
}

body {
  margin: 0 auto;
}

#root {
  position: relative;

  margin: 0 auto;

  width: 100%;
  max-width: 1680px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1244px;
}
