
@import './colors.scss';

* {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: black;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

#root {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  border: 2px solid $primary-yellow;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;

  &.light {
    background: none;
    
    a {
      color: $primary-yellow;
      font-size: 20px; 
    }
  }

  &.dark {
    background: $primary-yellow;

    a {
      color: $main; 
      font-size: 20px;
    }
  }
}