.pop-up.create {
  .btn {
    @include button-dark;
    width: 130px;
    height: 62px;
  }

  .btn_light {
    @include button-light;
    width: 130px;
    height: 62px;
    margin-right: 40px;
  }

  .btns {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .pop-up__section {
    margin-bottom: 24px;

    .section__title {
      display: block;
      margin-bottom: 14px;

      span {
        font-size: 25px;
        color: $primary-yellow;
      }
    }

    &.btn {
      width: 271px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .section__input.big {
      height: 104px;
    }

    .section__input_file {
      display: none;
    }
  }
}
