@import '../../../styles/index.scss';

.filter-panel {
  padding: 32px 24px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background: $white;

  &__container {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__title {
    @include title-20;
    margin-bottom: 0;
  }

  &__btn {
    padding: 0;
    width: 50px;
    height: 19px;
    color: $primary-yellow;
    font-size: 14px;
    border: none;
    background: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__select {
    width: 100%;
    padding: 11px 16px;
    font-size: 14px;
    border: 1px solid #dadada;
    border-radius: 4px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;

    &__title {
      @include title-16;

      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__checkboxes {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &__checkbox {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 8px;

        &__input {
          display: none;
          cursor: pointer;

          &:checked {
            + label {
              &::before {
                border: 1px solid $primary-yellow;
                background: $primary-yellow;
              }

              &::after {
                content: '';
                width: 18px;
                height: 18px;
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                background: url('../../../assets/images/checkbox.png') center
                  no-repeat;
              }
            }
          }
        }

        &__label {
          position: relative;
          cursor: pointer;

          &::before {
            content: '';
            -webkit-appearance: none;
            background-color: transparent;
            width: 16px;
            height: 16px;
            border: 1px solid #dadada;
            border-radius: 2px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
