@import '../../index.scss';


.search-page .cards.cookbooks .card {
  @include card-vertical;
  
  width: 288px;
  min-height: 487px;

  .card-info-container {
    &.bottom {
      justify-content: flex-start;
    }

    &.description {
      align-items: flex-start;
      margin-bottom: 32px;
      max-height: 57px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.home-page .cards.rated .card {
  @include card-vertical;

  z-index: 3;

  .card-info-container {
    &.top {
      margin-bottom: 16px;
    }

    &.middle {
      margin-bottom: 32px;
    }

    &.bottom {
      margin-bottom: 0;
      justify-content: flex-start;
    }
  }

  .card-image {
    margin-bottom: 16px;
  }

  &:nth-child(3) {
    margin-right: 24px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.home-page .cards.popular {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 288px 288px 288px 288px;
  grid-template-rows: 258px 258px;
  grid-template-areas: 
      "big big horiz horiz"
      "big big small-first small-second";

  .card {
    @include card;

    position: relative;
    padding: 0;
    
    border-radius: 50px 10px;
    background-size: 100% !important;

    .statistics-item.dots {
      position: absolute;
      top: 24px;
      right: 24px;
    }

    &:first-child {
      grid-area: big;
    }

    &:nth-child(2) {
      grid-area: horiz;
    }

    &:nth-child(3) {
      grid-area: small-first;
    }
        
    &:last-child {
      grid-area: small-second;
    }

    .card-name {
      padding: 8px 24px;
  
      height: 38px;

      position: absolute;
      bottom: 24px;
      left: 24px;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      font-size: 18px;
      background: $white;
      border-radius: 10px;
      border: none;

      &:hover {
        cursor: pointer;
        background: $primary-yellow;
      }
    }
  }
}

.home-page .cards.trending .card {
  @include card-vertical;

    width: 390px;
    min-height: 460px;
    background: $white;

    z-index: 3;

    .card-image {
      margin-bottom: 16px;
      width: 344px;
      height: 344px;
      background-size: 100% !important; 
    }

    .card-info-container.bottom {
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
    }
}

.search-page .cards.recipes .card {
  @include card-horizontal;

  
}

