@import '../../index.scss';

.cookbook-page-card {
  margin-right: 24px;
  margin-bottom: 24px;
  padding: 24px;

  width: 288px;
  min-height: 487px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;

  z-index: 3;

    .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    &.top {
      margin-bottom: 16px;
    }

    &.middle {
      margin-bottom: 32px;
    }

    &.bottom {
      justify-content: flex-start;
    }

    &.description {
      margin-bottom: 32px;
      max-height: 57px;
      overflow: hidden;
      text-overflow: ellipsis;

      .card-description {
        
      }
    }
  }

    .icon {
      margin-right: 8px;

      width: 15px;
      height: 15px;

      &.more {
        width: 20px;
        height: 4px;

        &:hover {

          >circle {
            fill: $primary-yellow;
          }
        }
      }
    }

    .info {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      line-height: 19px;

      &.likes {
        margin-right: 24px;
      }
    }

    .card-image {
      margin-bottom: 16px;
      width: 240px;
      height: 240px;
      border-radius: 50px 10px;
    }
        
    .card-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.24);

   .container {

      &.bottom {
        .icon {
          path {
            fill: $primary-yellow;
          }
        }
      }

      &.middle {
        .recipe-card-title {
          color: $primary-yellow;
        }
      }
    }
  }
}


