@import '../../index.scss';

.cookbooks-page {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 104px;

  .aside {
    height: 100vh;
    margin-right: 40px;
  }

  .filter {
    width: 272px;
    height: 372px;
  }

  .content {
    width: 100%;

    .page-nav {
      margin-bottom: 34px;

      .page-nav-list {
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        padding: 0;
        margin: 0;
        
        .page-nav-list-item {
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;

          a {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
          }

          &:first-child {
            margin-right: 32px;
          }

          &.selected {
            border-bottom:  5px solid $primary-yellow;
          }
        }
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  }
}




