@import '../../../styles/index.scss';

.overlay {
  @include overlay;
  
  .pop-up__recipe {
    margin-bottom: 72px;

    .pop-up__section.statistics {
      margin-bottom: 0;
    }
  }

  .pop-up__btn {
    @include button-light;

    width: 40px;
    height: 40px;
  }

  .pop-up__author {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $primary-yellow;
    margin-bottom: 40px;
  }

  .main-image {
    display: flex;
    width: 440px;
    height: auto;
    overflow: hidden;
  }

  .pop-up__section {
    .section__title {
      margin-bottom: 40px;
    }

    &.top {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 16px;

      .pop-up__title {
        max-width: 544px;
        margin-bottom: 0;
      }
    }

    &.description {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 32px;

      .description {
        max-width: 424px;
        }
    }

    &.information {
      margin-bottom: 32px;
      display: flex;
      flex-direction: row;
    }

    &.statistics {
      @include statistics-data;

      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 72px;
    }


    &.directions {
      flex-basis: 50%;
      
      .directions-list {
        list-style: none;
        padding: 0;
        line-height: 22px;

        span {
          font-weight: bold;
        }
      }
    }

    &.ingredients {
      flex-basis: 50%;

      .ingredients-list {
        padding: 0;
        line-height: 22px;

        li {
          &::marker {
            color: $primary-yellow;
          }
        }
      }
    }
  }
}