@import '../../styles/index.scss';

.footer {
  background-color: $main;

  .nav-list {
    @include nav-list;

    .nav-list-item {
      margin-right: 72px;
      color: $white;

      a {
        color: $white;
      }

      &:hover {
        a {
          color: $primary-yellow;
        }
      }
    }
  }

  a {
    color: $white; 
   }

}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 97px;
  font-size: 16px;
  background: $main;
}

.logo-black {
  width: 112px;
  height: 33px;
  background: url('../../public/images/logo-black.png') center no-repeat;
}

.email {
  a {
    color: $primary-yellow;
  }
}

.study-container {
  display: flex;
  flex-wrap: nowrap;

  .study {
    color: $white-dirty;
    margin-right: 18px;
  }
}