@import '../../../styles/index.scss';

.home-page .cards.trending .card {
  @include card-vertical;

    width: 390px;
    min-height: 460px;
    background: $white;

    z-index: 3;

    .card-image {
      margin-bottom: 16px;
      width: 344px;
      height: 344px;
      background-size: 100% !important; 
    }

    .card-info-container.bottom {
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
    }
}