@import '../../../styles/index.scss';

.overlay {
  @include overlay;

  .pop-up__btn-clone {
    @include button-dark;

    width: 277px;
    height: 54px;
  }

  .pop-up__author {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $primary-yellow;
    margin-bottom: 40px;
  }

  .main-image {
    display: flex;
    width: 440px;
    overflow: hidden;
    border-radius: 10px 50px;
    background-size: 100% !important;
  }

  .pop-up__section {
    .section__title {
      margin-bottom: 40px;
    }

    &.top {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 16px;

      .pop-up__title {
        max-width: 544px;
        margin-bottom: 0;
      }
    }

    &.description {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 32px;

      .description {
        max-width: 424px;
        }
    }

    &.information {
      margin-bottom: 32px;
      display: flex;
      flex-direction: row;
    }

    &.statistics {
      @include statistics-data;

      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 72px;
    }

    &.recipes {
      margin-bottom: 104px;
    }
  }

  .pop-up__recipe {
    display: flex;

    .main-image {
      background-size: 100% !important;
     
      position: absolute;
      top: -72px;
      left: -56px;
    }

    .pop-up-sections {
      display: flex;
      flex-direction: column;
      padding-left: 445px;

      .pop-up__section.top {
        .section__title {
          margin-right: 8px;
        }
      }
    }
  }

  
}

