@import '../../../../styles/index.scss';

.comment {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__photo {
    width: 68px;
    height: 68px;
    margin-right: 16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 55px;
  }

  &__container {
    width: 100%;
    max-width: 716px;

    &--top {
      width: 100%;
      max-width: 716px;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__user {
    font-size: 18px;
    color: $grey-dark;
  }

  &--new {
    margin-bottom: 40px;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    &__input {
      padding: 0 16px;
      max-width: 800px;
      flex-basis: 100%;
      background: $white;
      border: 1px solid $white-dirty;
      border-radius: 10px;
    }

    &__btn {
      @include button;

      width: 88px;
      background: url('../../../../assets/images/Union.png') center no-repeat;
      background-color: $primary-yellow;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
